<html>
<head>
<link rel='stylesheet' type='text/css' href='static/default.css'>
<title>HEROES Academy Github Page</title>
</head>
<body>
<header>
      <div class="container">
        <h1>HEROES Academy</h1>
        <h2>The Github page for Computer Science enrichment at HEROES</h2>

        <section id="links">
          <a href="https://github.com/heroes-academy/heroes-academy.github.io" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>
<div id='main_body'>
{{ content }}
</div>
</body>
</html>
